name: CI
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.x
          cache: true

      - name: Bootstrap
        run: deno install --frozen

      - name: Run linters
        run: ./scripts/lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.x
          cache: true

      - name: Bootstrap
        run: deno install --frozen

      - name: Run tests
        run: ./scripts/test
